<div class="welcome-message">
    <h1>¡Bienvenido! <p id="user"><%=nombre%></p></h1>
    <button class="btn btn-outline-danger" onclick="location.href='/logout'">Desloguearse</button>
    <p>Esperamos que disfrutes de tu visita a nuestro sitio web.</p>
</div>