
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            <img src="../../media/ejs.png" alt="logo ejs" width="40"> 
            EJS
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link" href="/">inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Categoria
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
              <li><a class="dropdown-item" href="/productos/verdura">Verdura</a></li>
              <li><a class="dropdown-item" href="/productos/fruta">Frutas</a></li>
              <li><a class="dropdown-item" href="/productos/carne">Carnes</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nuevo">Admin Producto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/carrito">Carrito</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/chat">Chat</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>